#container {
    background: url(image/1.avif) no-repeat;
    height: 100%;
    width: 100%;
}

body {
    font: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
#header {
    height: 150px;
}

#brand {
    float: left;
    margin: 0 35px;
}

.one {
    float: right;
    margin-right: 20px;
}
#signin a {
    color: #eea23d;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}

.one a {
    color: #ed7f2a;
    text-decoration: none;
    margin: 10px;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #b8a4f3;
    text-decoration: none;
}

#searchBox {
    float: right;
    height: 70px;
    width: 300px;
    margin: 10px;
}

.text {
    float: left;
    font-weight: bold;
    color: #5b2d84;
    font-size: 15px;
    border: 2px solid#102186;
    transform: translate(10px, 20px);
    background: #7f8e94 url(image/search.png) right center no-repeat;
}

#searchButton {
    padding: 4px;
    font-weight: bold;
    color: #c9cf55;
    background: #174368;
    font-size: 13px;
    border: 1px ridge #9876e6;
    transform: translate(25px, 18px);
    overflow: hidden;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
}

#menu {
    height: 70px;
    width: auto;
    background: linear-gradient(#280796, #4e466b);
    padding: 7px 0;
    margin: 0 5px;
}

#menu ul li {
    float: left;
    padding: 0 15px;
    height: 35px;
    border-right: 2px solid #8c0bee;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: #e6f015;
    line-height: 30px;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover,
#menu ul li a.active,
#signin:hover,
.one:hover {
    font-size: 25px;
    font-weight: bold;
    color: #b63ce2;
}

#introduction {
    padding: 38px;
    margin: 15px 0;
    background: linear-gradient(#6d2082, #915b9e);
    height: 250px;
    opacity: 0.8;
    width: 100vv;
}

#introduction h3 {
    font-size: 30px;
    color: #e8bb29;
    font-weight: bold;
    text-align: justify;
}
#introduction p {
    font-size: 20px;
    color: #ededbf;
    text-align: justify;
}
#ffuck {
    font-weight: bold;
    font-size: 28px;
    color: #f4f457;
}
#nextButton {
    float: right;
    background-color: #e6d240;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 1px 2px #803992;
    color: #6f0e85;
    height: 35px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.sidebar {
    float: left;
    background: linear-gradient(#170560, #5e4f90, #16045c);
    opacity: 0.5;
    width: 100vv;
}

.sidebar h3 {
    color: #e6c82a;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}
.sidebar ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #fcf7a5;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #e4ec61;
    font-size: 27px;
    font-weight: bold;
}

.sidebar ul {
    padding-top: 3px;
}
#leftsidebar ul li {
    padding: 4px 0 1px 10px;
    list-style-image: url(image/arrow.png);
}

#rightsidebar ul li {
    padding: 4px 0 2px 10px;
    list-style-image: url(image/arrow.png);
}

.youtube {
    float: left;
}

.footer {
    height: 50px;
    background: linear-gradient(#090999, #000027);
    padding: 10px 30px;
    margin-top: 15px;
    color: #caf58d;
}

#signinorup {
    margin: 19px;
    border: 2px;
}

#registerhere {
    text-decoration: none;
    color: #c2a5f2;
    font-weight: bold;
}

#submit {
    background-color: #b28de6;
    color: #161312;
    font-weight: bold;
}

#register {
    margin: 21px;
}

.form {
    font-weight: bold;
    color: #33263e;
    font-size: 15px;
    border: 2px solid#ce5b30;
    background: #a9d9ed;
}

#error {
    color: #eb2222;
    font-weight: bold;
}
